.logo-footer {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.logo-brand {
    font-size: 1rem;
    font-weight: bold !important;
    color: var(--text-white);
}

.logo-brand-highlight {
    color: var(--primary-orange);
    margin-left: 0.25rem;
}